
<html>
    <head>
        <title>Bestaurants.edu</title>
    </head>
    <body>
        <h1>Reviews for {{ restaurant.getName }}</h1>

        {% if reviews is not empty %}
            <p>Here are all your reviews:</p>

              {% for review in reviews %}
                  <h2>{{ review.getTitle }}</h2>
                  {% block A%}
                  <h4>Star Rating:</h4><p> {% set var = review.getStars %} {% for i in 1..var %} <img src="/../web/img/starz.png"> {% endfor %} </p>
                  {% endblock %}
                  <h4>Review:</h4><p> {{ review.getContent }} </p><br>
              {% endfor %}

        {% endif %}

        <form name='add_review' action='/review' method='post'>
            <input id="restaurant_id" name="restaurant_id" type="hidden" value="{{ restaurant.getId() }}">

            <label for='title'>Review title</label>
            <input id='title' name='title' type='text' required>
            <label for='stars'> Number of stars </label>
            <select name='stars'>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
            </select>
            <label for='content'>Review content</label>
            <input id='content' name='content' type='text' required>

            <button name='add_review' type='submit'>Add review</button>
        </form>

        <p><a href='/'>Home</a></p>
    </body>
</html>
